{% extends "index.html" %}

{% block mainframe %}



<div class="panel panel-default">
  <div class="panel-heading"><h3><b>{{ sensor.name }}</b></h3></div>
  <div class="panel-body">
  <table class="table-condensed">
    <tr><td><b>Type:</b></td><td> <a href="/detailview/sensortype/{{ sensor.sensor_type.pk }}"> {{ sensor.sensor_type }} </a></td></tr>
    <tr><td><b>ID:</b></td><td> {{ sensor.pk}} </td></tr>
  </table>
  </div>
</div>

<div class="panel panel-default">
<div class="panel-heading"><h3><b>Available calibrations</b></h3></div>
<div class="panel-body">
{% include "list_calibration.html" %}
</div>
</div>


<div class="panel panel-default">
<div class="panel-heading"><h3><b>Measurements</b></h3></div>
<div class="panel-body">
{% include "list_measurement.html" %}
</div>
</div>

{% endblock %}
