{% if 'edna.add_calibrationparameters' in perms %}
<div id="SetCalibration" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Set calibration parameters</h4>
      </div>
      <div class="modal-body"> 
          <table>
          {{ calibform.as_table }}
          </table> 
      </div>
      <div class="modal-footer">
        <input type = "submit" class="btn btn-primary" formaction = "/upload/calibration" value = "OK">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
      </div>
    </div>
  </div>
</div>
{% endif %}


{% if 'edna.delete_calibrationparameters' in perms %}
<div id="DeleteCalibration" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Delete calibration parameters</h4>
      </div>
      <div class="modal-body"> 
        Do you really want to delete selected calibration parameters?
      </div>
      <div class="modal-footer">
        <input type = "submit" class="btn btn-danger" formaction = "/delete/calibration" value = "OK">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
      </div>
    </div>
  </div>
</div>
{% endif %}

