{% if 'edna.add_visualization' in perms %}
<div id="SetVisualization" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Set visualization</h4>
      </div>
      <div class="modal-body"> 
          <table>
          {{ visform.as_table }}
          </table> 
      </div>
      <div class="modal-footer">
        <input type = "submit" class="btn btn-primary" formaction = "/upload/visualization" value = "OK">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
      </div>
    </div>
  </div>
</div>
{% endif %}


{% if 'edna.delete_visualization' in perms %}
<div id="DeleteVisualization" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Delete visualization</h4>
      </div>
      <div class="modal-body"> 
        Do you really want to delete selected visualizations?
      </div>
      <div class="modal-footer">
        <input type = "submit" class="btn btn-danger" formaction = "/delete/visualization" value = "OK">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
      </div>
    </div>
  </div>
</div>
{% endif %}

