{% extends "index.html" %}

{% block mainframe %}
<h3><center><b>Sensors</b></center></h3>

<div class="panel panel-default">
<div class="panel-body">

<form class="form-inline" role="form" method = "post">
{% csrf_token %}
<p>

{% if 'edna.add_visualization' in perms %}
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#SetSensor">Upload</button>
{% endif %}

{% if 'edna.delete_visualization' in perms %}
<button type = "button" class="btn btn-danger" data-toggle = "modal" data-target = "#DeleteSensor">Delete</button>
{% endif %}

{% include "modal_sensor.html" %}

{% include "list_sensor.html" %}
</form>
</div>
</div>


{% endblock %}
